@media (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0; /* Remove bs from user agent stylesheet */
  text-align: center;
  color: #000000;
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(
    #c9ebff,
    #abb5ff,
    #7475b6,
    #459092,
    #000000
  );
}

h1 {
  font-size: 5.625rem; /* 5.625 x 16px (rem) == 16px = 100% = 1em (inherited from body) */
  margin: 50px auto 0 auto;
  font-family: "Titillium Web";
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  h1 {
    margin: 82px auto 0 auto;
  }

  .bottom-cloud {
    top: 449px;
  }
}

h2 {
  font-family: "Titillium Web";
  font-weight: normal;
  padding-bottom: 10px;
}

.font-size-title {
  font-size: 45px;
}

h3 {
  font-family: "Titillium Web";
}

p {
  line-height: 2;
}

.bg-light {
  background-color: #ed953e !important;
}

hr {
  border: dotted #ed953e 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: black;
  font-family: "Titillium Web";
  text-decoration: none;
}

.link-margin-footer {
  margin: 10px 20px;
}

a:hover {
  color: purple;
}

.creativity-text {
  color: #ed953e;
}

/**
* Contact button styles
*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-image: linear-gradient(#f7da6c, #faaa00);
  border: none;
  color: #000000;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  position: relative;
  bottom: 34px;
  text-transform: uppercase;
}

.button:hover {
  background-image: linear-gradient(180deg, #f7da6c, #faaa00);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  background-image: linear-gradient(#f7da6c, #faaa00);
  color: black;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 80%;
  margin: 20px auto 0px;
}

@media screen and (min-width: 1024px) {
  p.intro {
    width: 30%;
    margin: 20px auto 0px;
  }
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #0000000;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.last-cloud {
  width: 350px;
  height: 350px;
}

.icon-circle-foundations {
  width: 200px;
  float: left; /* Left right effect */
  margin-right: 30px;
}

div.div-programming-skills-node-text {
  position: relative;
  top: -20px;
}

/* Desktop node text */
@media screen and (min-width: 1024px) {
  div.div-programming-skills-node-text {
    position: relative;
    top: 40px;
  }
}

img {
  transition: all 0.5s;
  z-index: 2;
}

img:hover {
  transform: scale(1.2) rotate(360deg);
}

.icon-circle {
  width: 200px;
  border-radius: 200px;
  position: relative;
}

.img-float-left {
  float: left; /* Left right effect */
  margin-right: 30px;
}

.img-float-right {
  float: right;
  margin-left: 30px;
}

.white-text {
  color: white;
}

/* Typewriter animation */
.line-1 {
  position: relative;
  top: 10px;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 25px;
  transform: translateY(-25%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 0.5s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 4.5em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
